entryewp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
sitemap.*
wp-config.php
img/*

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess
